<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar | Estudiante</title>
</head>
<body>
    <form action="" method="post">
        {{form.hidden_tag()}}
        <h1>registrar estudiante</h1>
        <div>
            <input type="text" name="nombre_estudiante" required>
            <span>nombres estudiante</span>
        </div>
        <div>
            <input type="text" name="apellido_estudiante" required>
            <span>apellido estudiante</span>
        </div>
        <div>
            <input type="text" name="tipo_documento" required>
            <span>tipo documento</span>
        </div>
        <div>
            <input type="number" name="numero_documento" required>
            <span>numero documento</span>
        </div>
        <div>
            <input type="number" name="curso" required>
            <span>curso</span>
        </div>
        <div>
            <input type="password" name="password" required>
            <span>password</span>
        </div>
        <div>           
            <input type="submit" name="submit" value="Iniciar">
        </div>




    </form>
    
</body>
</html>